<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
<app-big-card
photoCover="https://th.bing.com/th/id/OIP.F00dCf4bXxX0J-qEEf4qIQHaD6?pid=ImgDet&rs=1"
cardTitle="Saiu a nova versão do Angular!"
cardDescription="Todos os detalhes você encontra aqui!!"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card photoCover="https://th.bing.com/th/id/OIP.F00dCf4bXxX0J-qEEf4qIQHaD6?pid=ImgDet&rs=1"
    cardTitle="Saiu a nove versão do Angular!!"></app-small-card>
    <app-small-card photoCover="https://th.bing.com/th/id/OIP.F00dCf4bXxX0J-qEEf4qIQHaD6?pid=ImgDet&rs=1"
    cardTitle="Saiu a nove versão do Angular!!"></app-small-card>
    <app-small-card photoCover="https://th.bing.com/th/id/OIP.F00dCf4bXxX0J-qEEf4qIQHaD6?pid=ImgDet&rs=1"
    cardTitle="Saiu a nove versão do Angular!!"></app-small-card>
   

  </div>
</div>

